<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
 <div th:fragment="assets" th:remove="tag">
 	<script th:src="@{/js/lib/jquery-1.8.3.min.js}"></script>
	<script th:src="@{/js/lib/autoNumeric.min.js}"></script>
	<script th:src="@{/js/lib/jquery.bpopup.min.js}"></script>
	<script th:src="@{/js/lib/jquery-ui.min.js}"></script>
	<script th:src="@{/js/lib/moment.min.js}"></script>
	<script th:src="@{/js/common/Common.js}"></script>
	<script th:src="@{/js/lib/jquery-ui.min.js}"></script>
	<script th:src="@{/js/lib/jquery-confirm.min.js}"></script>
	<script th:src="@{/js/common/pagination.js}"></script>
	<script th:src="@{/js/common/Message.js}"></script>
 </div>
</html>