
<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<!-- footer -->
	<div class="footer" style="display:;" th:fragment="footer">
		<!-- Copy right -->
		<div class="copyright_wrap">
			<div class="copyright_box">
				<p><strong>E-Fashion</strong> Cambodia © 2017 Online Store. All Rights Reserved.</p>
			</div>
		</div>
		<!-- //Copy right -->
	</div>
	<!-- //footer -->
 
</html>