<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="en" th:replace="fragments/head :: head"><meta charset="utf-8"></head>


<body class="lnb_bg">

<div class="wrap">

	<!-- header -->
	<div lang="en" th:replace="/header :: header"></div>
	<!-- //header -->

	<!-- Container -->
	<div class="container">

		<!-- content wrap -->
		<div class="content">
			<div class="cnt_wrap">

				<!-- title_wrap -->
				<div class="tit_wrap cboth">
					<div class="f_left">
						<div class="tit_h3">
							<ul>
								<li><a th:href="@{/}">ទំព័រដើម</a></li>
								<li><a th:href="@{/missing-payment}">បញ្ចីអ្ន​កបង់ប្រាក់</a></li>
								<!--<li><a href="#none">បញ្ចីកម្ចី</a></li>
								<li><a href="#none">បញ្ចីអ្នកខកខានបង់ប្រាក់</a></li>
								<li><a href="#none">កំណត់គោលការណ៍</a></li>-->
							</ul>
						</div>
					</div>
				</div>
				<!-- //title_wrap -->
				
				<!-- title_wrap -->
				<div class="tit_wrap cboth">
					<div class="t_center">
						<div class="tit_h3"><h3>ពត៍មានលំអិតនៃការបង់ប្រាក់</h3>
						</div>
					</div>
					<!--<div class="f_right">
						<div class="srch_wrap">
							<div class="srch_box">
								<input type="text" value="" placeholder="បញ្ចូល លេខកូដ ឬ ឈ្មោះអ្នកខ្ចី" style="width:193px;">
								<a href="#none" class="btn_srch"></a>
							</div>
						</div>
					</div>-->
				</div>
				<!-- //title_wrap -->
				
				<!-- title_wrap -->
				<div class="tit_wrap cboth">
					<div class="t_left">
						<div class="tit_h4"><h4>ពត័មានផ្ទាលខ្លូន</h4></div>
					</div>
					<!--<div class="f_right">
						<div class="srch_wrap">
							<div class="srch_box">
								<input type="text" value="" placeholder="បញ្ចូល លេខកូដ ឬ ឈ្មោះអ្នកខ្ចី" style="width:193px;">
								<a href="#none" class="btn_srch"></a>
							</div>
						</div>
					</div>-->
				</div>
				<!-- //title_wrap -->
				
				<!-- table input dot -->
				<div class="tbl_input_dot">
					<table summary="">
						<caption></caption>
						<colgroup>
						<col style="width:100px;">
						<col>
						<col style="width:100px;">
						<col>
						<col style="width:100px;">
						<col style="width:150px;">
						</colgroup>
						<tbody>
							<tr>
								<th><div>លេខកូដអ្នកខ្ចី</div></th>
								<td><div><input type="text" value="123-456-789" name="" id="loaner_code" placeholder="" readonly="readonly"></div></td>
								<th><div>ឈ្មោះអ្នកខ្ចី</div></th>
								<td><div><input type="text" value="" name="" id="loaner_name" placeholder="" disabled="disabled" maxlength="50"></div></td>
								<th><div>ភេទ</div></th>
								<td>
									<div>
										<label><input type="radio" name="gender" value="1" checked disabled="disabled"> ប្រុស</label> &nbsp;&nbsp;&nbsp;
										<label><input type="radio" name="gender" value="2" disabled="disabled"> ស្រី</label>
									</div>
								</td>
							</tr>
							<tr>
								<th><div>អត្ដសញ្ញាណប័ត្រ</div></th>
								<td><div><input type="text"  value="" name="id_card" id="id_card" placeholder="" maxlength="11" onkeypress='return event.charCode >= 48 && event.charCode <= 57'></div></td>
								<th><div>លេខទូរសព្ទ័</div></th>
								<td colspan="4"><div><input type="text" value="" name="phone" id="phone" placeholder="" maxlength="12" readonly="readonly" onkeypress='return event.charCode >= 48 && event.charCode <= 57'></div></td>
							</tr>
							<tr>
								<th><div>អាស័យដ្ឋាន</div></th>
								<td colspan="6"><div><input type="text" value="" name="address" id="address" placeholder="" readonly="readonly" maxlength="500"></div></td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- //table input dot -->
				
				<!-- title_wrap -->
				<div class="tit_wrap cboth mgt10">
					<div class="t_left">
						<div class="tit_h4"><h4>ពត័មានទឹកប្រាក់</h4></div>
					</div>
					<div class="right_box">
						<!-- <a href="javascript:" class="btn_addnew" id="btn_addMore"><span class="blind">add new</span></a> -->
						<select style="width:;" name="type_payment" id="type_payment">
						</select>
					</div>
				</div>
				<!-- //title_wrap -->

				<!-- table input dot -->
				<div class="tbl_input_dot">
					<table summary="">
						<caption></caption>
						<colgroup>
						<col style="width:130px;">
						<col style="width:200px;">
						<col style="width:130px;">
						<col style="width:200px;">
						<col style="width:150px;">
						<col >
						</colgroup>
						<tbody>
							<tr>
								<th><div>បណ្ណ័ចំណាយប្រាក់លេខ</div></th>
								<td><div><input type="text" value="" name="loan_code" id="loan_code" placeholder="" readonly="readonly"></div></td>
								<th><div>ចំនួនទឹកប្រាក់ដើម</div></th>
								<td><div><input type="text"  name="total_money_txt" id="total_money_txt"  readonly="readonly"></div></td>
								<th><div>ជាអក្សរ</div></th>
								<td><div><input type="text" value="" name="" id="total_money_kh" readonly="readonly" placeholder=""></div></td>
							</tr>
							<tr>
								<th><div>ចំនួនបង់ប្រាក់</div></th>
								<td><div><input type="text" value="" name="time" id="time_txt" placeholder="" readonly="readonly"></div></td>
								<th><div>កាលបរិច្ឆេទ​ខ្ចី​ប្រាក់</div></th>
								<td><div><input type="text" value="" name="start_date_txt" id="start_date_txt" placeholder="" readonly="readonly"></div></td>
								<th><div>បរិច្ឆេទសង់ប្រាក់លើកតំបូង</div></th>
								<td><div><input type="text" value="" name="end-date_txt" id="first_date_txt" placeholder="" readonly="readonly"></div></td>
							</tr>
							<tr>
								<th><div>ប្រាក់សន្សំ</div></th>
								<td><div><input type="text" value="" name="rate_money_txt" id="rate_money_txt" placeholder="" readonly="readonly"></div></td>
								<th><div>ប្រភេទបង់ប្រាក់</div></th>
								<td><div><input type="text" value="" name="type_payment_txt" id="type_payment_txt" placeholder="" readonly="readonly"></div></td>
								<th><div>ប្រភេទប្រាក់</div></th>
								<td><div><input type="text" value="រៀល​ (៛)" name="type_money_txt" id="type_money_txt" placeholder="" readonly="readonly"></div></td>
							</tr>
							<tr>
								<th><div>ប្រាក់ថយចុះ</div></th>
								<td ><div><input type="text" value="0 ៛" name="decrement_txt" id="decrement_txt" placeholder="" readonly="readonly"></div></td>
								 <th><div>ភ្នាក់ងារ</div></th>
								<td​​ colspan="3"><div><input type="text" value="អេ  កុសល" name="agent_txt" id="agent" placeholder="" readonly="readonly"></div></td>
								<!--<th><div></div></th>
								<td><div></div></td> -->
							</tr>
						</tbody>
					</table>
				</div>
				<!-- //table input dot -->
					<!-- title_wrap -->
					<div id="paymentBar">
						<div class="tit_wrap cboth mgt10" id="tit_wrap">
							<div class="t_left">
								<div class="tit_h4" id="tit_h4"><h4>តារាងបង់ប្រាក់់</h4></div>
							</div>
							<div class="right_box">
								<label style="  font-size: 12px !important; margin:0 10px 0 0 !important; font-family:'Khmer OS Battambang','Khmer OS Bokor', 'Khmer OS Content', 'hmer OS Siemreap', 'Khmer OS System' !important;font-size: 12px !important;">
								<input type="checkbox" id="payment_all">សង់ផ្ដាច់</label>
								<a href="javascript:" id="btn_payment" class="btn_save">បង់ប្រាក់</a>
							</div>
						</div>
					</div>
					
					<!-- //title_wrap -->

				
				
				<!-- table_list -->
				<div class="tbl_lst1 mgt5" id="tbl_payment">
					<table summary="">
						<caption></caption>
						<colgroup>
						<col style="width:70px;">
						<col style="width:70px;">
						<col style="width:70px;">
						<col style="width:150px;">
						<col style="width:230px;">
						<col style="width:150px;">
						<col style="width:100px;">
						<col>
						</colgroup>
						<thead>
							<tr>
								<th><div class="t_center"><input type="checkbox"></div></th>
								<th><div class="t_center">ល.រ</div></th>
								<th colspan="2"><div class="t_center">កាលបរិច្ឆេទសងប្រាក់</div></th>
								<th><div class="t_center">ចំនួនទឹកប្រាក់សង់មួយលើកៗ</div></th>
								<th style="display:;"><div class="t_center">កាលបរិច្ឆេទទទួល</div></th>
								<th style="display:;"><div class="t_center">អ្នកទទួល</div></th>								
								<th><div class="t_center">សំគាល់ផ្សេងៗ</div></th>
								<th style="display:none;"><div class="t_center">ប្រាក់ដើមជំពាក់</div></th>
								<th style="display:none;"><div class="t_center">កាលបរិច្ឆេទទទួល</div></th>
								<th style="display:none;"><div class="t_center">អ្នកទទួល</div></th>
							</tr>
						</thead>
						<tfoot style="display:;">
							<tr><td colspan="5"><div class="t_center">ពុំទាន់មានទិន្នន័យនៅឡើយទេ</div></td></tr>
						</tfoot>
						<tbody style="display:;">
							<!-- <tr>
								<td><div class="t_center">1</div></td>
								<td><div>ច័ន្ទ &nbsp;&nbsp;&nbsp; 15/10/2017</div></td>
								<td style="display:none;"><div class="t_right">1,000,000 រៀល</div></td>
								<td style="display:none;"><div></div></td>
								<td><div class="t_right">1,000,000</div></td>
								<td><div></div></td>
								<td style="display:none;"><div class="t_right">1,000,000 រៀល</div></td>
								<td style="display:none;"><div></div></td>
								<td style="display:none;"><div></div></td>
							</tr>	 -->	
												
						</tbody>
					</table>
				</div>
				<!-- //table_list -->				
			</div>
		</div>
		<!-- //content wrap -->
	</div>
	<!-- //Container -->
	<!-- footer -->
	<div lang="en" th:replace="fragments/footer :: footer"> </div>
	<!-- //footer -->
   <input type="hidden" th:value="${loaner_id}" id="loaner_id"/>
   <input type="hidden" th:value="${id}" id="id"/>
   <input type="hidden" th:value="${loan_id}" id="loan_id"/>
	
</div>
	<script th:src="@{../js/lib/jquery-1.8.3.min.js}"></script>
	<script th:src="@{../js/lib/autoNumeric.min.js}"></script>
	<script th:src="@{../js/lib/jquery.bpopup.min.js}"></script>
	<script th:src="@{../js/lib/jquery-ui.min.js}"></script>
	<script th:src="@{../js/lib/moment.min.js}"></script>
	<script th:src="@{../js/common/Common.js}"></script>
	<script th:src="@{../js/payment.js}"></script>
<!-- popup form -->
<div class="alert_wrap frm" style="display:none;" id="popu_alert_wrap">
	<div class="alert_inner" style="width:520px important;">
		<div class="alert_tit">
			<h1>ពត័មានទឹកប្រាក់ដែលត្រូវបង់</h1>
			<a href="javascript:" class="btn_close"><span class="blind">close</span></a>
		</div>
		<div class="aler_cnt" style="height: auto !important;padding-bottom: 0px !important;">
			<!-- table input popup -->
			<div class="tbl_input_pop">
				<table summary="">
					<caption></caption>
					<colgroup>
					<col style="width:200px;">
					<col>
					</colgroup>
					<tbody>
					<!-- 	<tr>
							<th><div>ប្រាក់ដើមត្រូវសង់</div></th>
							<td><div><input type="text" value="" style="text-align: right" name="" id="popup_prak_derm" placeholder=""></div></td>
						</tr>
						<tr>
							<th><div>ការប្រាក់សរុប</div></th>
							<td><div><input type="text" value="" style="text-align: right" name="" id="popup_rate" placeholder=""></div></td>
						</tr> -->
						<tr>
							<th><div>សរុបចំនួនទឹកប្រាក់</div></th>
							<td><div><span style="text-align: right;font-size: 16px;font-weight: bold;" id="popup_total"></span><!-- <input type="text" value="" style="text-align: right" name="" id="popup_total" placeholder=""> -->
								      <input type="hidden" id="payemnt_id_db"/>
								     
							</div></td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- //table input popup -->
		</div>
		<div class="t_line">
			<a href="javascript:" class="btn_confirm" id="btn_update">រក្សាទុក</a>
			<a href="javascript:" class="btn_cancel">បោះបង់</a>
		</div>
	</div>	
</div>
<!-- //popup form -->
<!-- loading.... -->
<div style="display:none;" id="loading">
    <img th:src="@{../img/loading.gif}" alt="LAON" height="50" width="50">
</div>
</body>
</html>


