<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layouts/layout">
<head lang="en" th:replace="fragments/head :: head">
	<meta charset="utf-8">
</head>
<body class="lnb_bg">

<div class="wrap">

	<!-- header -->
	<div lang="en" th:replace="/header :: header_main"></div>
	<!-- //header -->
	<th:block layout:fragment="content">
	<!-- Container -->
	<div class="container">

		<!-- content wrap -->
		<div class="content">
			<div class="cnt_wrap">

				<!-- title_wrap -->
				<div class="tit_wrap cboth">
					<div class="f_left">
						<div class="tit_h3">
							<ul>
								<li><a th:href="@{/}">ទំព័រដើម</a></li>
								
							</ul>
						</div>
					</div>
				</div>
				<!-- //title_wrap -->
				
				<!-- title_wrap -->
				<div class="tit_wrap cboth" id="tit_wrap">
					<div class="t_center">
						<div class="tit_h3"><h3>កំណត់តំលៃទុកមុន</h3>
						</div>
					</div>
					
				</div>
				<!-- tab -->
				<div class="tabType01 mgb10">
					<ul>
						<li class="on"><a href="javascript:" class="tabLinks" onClick="openTabLinke(this, 'pay_constand')">អ្នកបង់ថេរ</a></li>
						<li><a href="javascript:" class="tabLinks" onClick="openTabLinke(this, 'pay_down')">អ្នកបង់ថយ</a></li>
					</ul> 				
				</div>
				<!-- //tab -->
				<div id="pay_constand" class="tabContents"></div>
				<div id="pay_down" class="tabContents"></div>
				<!-- //title_wrap -->
				<!-- <div class="t_center mgt20" style="margin-bottom:50px;">
					<a href="javascript:" class="btn_save" id="btn_save">បន្ថែមការកំណត់</a>
				</div> -->
			</div>
		</div>
		<!-- //content wrap -->
	</div>
	<!-- //Container -->
	</th:block>
	<!-- footer -->
	<div lang="en" th:replace="fragments/footer :: footer"> </div>
	<!-- //footer -->	
	</div>
	<th:block layout:fragment="asset">
		<script th:src="@{js/setting.js}"></script>
	</th:block>
</body>
</html>