<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
		<title>Loan Money</title>
		<meta charset="utf-8">
		<meta http-equiv="Cache-Control" content="No-Cache">
		<meta http-equiv="Pragma" content="No-Cache">
		<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
		<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
		<link rel="icon" th:href="@{../img/icon/loan.ico}">
		<link rel="icon" th:href="@{img/icon/loan.ico}">
		<link rel="stylesheet" th:href="@{/css/reset.css}">
		<link rel="stylesheet" th:href="@{/css/content.css}">
		<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}">
   </head>
   <body class="lnb_bg">

<div class="wrap">

	<!-- header -->
	<div lang="en" th:replace="/header :: header_main"></div>
	<!-- //header -->

	<!-- Container -->
	<div class="container" layout:fragment="content">

		<!-- content wrap -->
		<div class="content">
			<div class="cnt_wrap" >
				<!-- title_wrap -->
				<div class="tit_wrap cboth">
					<div class="f_left">
						<div class="tit_h3">
							<ul>
								<li><a th:href="@{/}">ទំព័រដើម</a></li>
								<li><a th:href="@{/loaner}">បញ្ចីអ្នកខ្ចី</a></li>
								<li><a th:href="@{loan}">បញ្ចីកម្ចី</a></li>
								<li><a th:href="@{/missing-payment}">បញ្ចីអ្នកខកខានបង់ប្រាក់</a></li>
								<li><a th:href="@{/setting}">កំណត់គោលការណ៍</a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- //title_wrap -->

				<div class="tasks_wrap">
					<!-- title_wrap -->
					<div class="tit_wrap cboth">
						<div class="t_center">
							<div class="tit_h3"><h3>ទំព័រដើម</h3></div>
						</div>
					</div>
					<!-- //title_wrap -->

					<!-- main_menu -->
					<div class="main_menu">
						<ul>
						    <li style="border:none !important;"><a th:href="@{/loaner}">
								<img alt="loaner" th:src="@{img/logo/Status-wallet-open-icon.png}">
								<span>ទឹកប្រាក់សរុប</span>
							</a></li>
							<li style="border:none !important;"><a th:href="@{/loaner}">
								<img alt="loaner" th:src="@{img/logo/User-2-icon.png}">
								<span>អ្នកប្រើប្រាស់</span>
							</a></li>
							<li style="border:none !important;"><a th:href="@{/loaner}">
								<img alt="loaner" th:src="@{img/logo/personal-loan-icon.png}">
								<span>បញ្ចីអ្នកខ្ចី</span>
							</a></li>
							
							<li><a th:href="@{loan}">
								<img alt="loaner" th:src="@{img/logo/money-icon.png}">
								<span>បញ្ចីកម្ចី</span>
							</a></li>
							<li><a th:href="@{/missing-payment}">
								<img alt="loaner" th:src="@{img/logo/payment.png}">
								<span>បញ្ចីអ្នក<br>ខកខាន<br>បង់ប្រាក់</span></a></li>
						
							<li><a th:href="@{/setting}">
								<img alt="loaner" th:src="@{img/logo/settings-icon.png}">
								<span>កំណត់<br>គោល<br>ការណ៍</span>
							</a></li>
						</ul>
					</div>
					<!-- //main_menu -->
				</div>
			</div>
		</div>
		<!-- //content wrap -->
	</div>
	<!-- //Container -->	
	<div lang="en" th:replace="fragments/footer :: footer"> </div>	
</div>

<div lang="en" th:replace="fragments/assets :: assets"></div>
<div layout:fragment="asset"></div>
<!-- loading.... -->
<div style="display:none;" id="loading">
    <img th:src="@{../img/loading.gif}" alt="LAON" height="50" width="50">
</div>
</body>
</html>